#menu-nav { background-color: red !important }
* { color: rgb(67, 44, 26); }
main {
    background-color: #f0e9e2;
    background-image: url("../../../public/images/Icons/Orange_Background.png");
    background-repeat: repeat;
    background-size: 200px;
    align-items: center;
    justify-content: center;
    animation: backgroundScroll 40s linear infinite;
}
#address-container {
    background-color: white;
    max-width: 1200px;
    margin-inline: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-inline: 20px;
}
#address-container h1 {
    font-weight: 800;
    text-align: center;
}
#address-item-container {
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    border-radius: 25px;
    background-color: rgb(231, 231, 231);
}
.address-button {
    width: 100%;
    border: none;
}
.address-item {
    cursor: pointer;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: scale 0.2s ease;
}
.address-item .address-image {
    background-image: url('../../../public/images/Icons/LogoIcon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.address-item h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}
.address-item h4 {
    text-align: center;
}

@media all and (min-width: 1200px) {
    .address-item:hover {
        scale: 1.04;
    }
}

@media all and (max-width: 1200px) {
    #address-item-container {
        grid-template-columns: repeat(1, 1fr);
    }
}