#menu-nav { background-color: red !important }
.menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background-color: #f0e9e2;
    background-image: url("../../../public/images/Icons/Orange_Background.png");
    background-repeat: repeat;
    background-size: 200px;
    align-items: center;
    justify-content: center;
    animation: backgroundScroll 40s linear infinite;
}
#branch-header {
    color: white;
    background-color: #f9a833ff;
    max-width: 1800px;
    margin-inline: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-inline: 5px solid red;
    border-bottom: 5px solid red;
}
#branch-header h1 {
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}
#branch-header h3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
#branch-header #change-branch {
    padding: 10px 16px;
    border-radius: 999px;
    cursor: pointer;
    bottom: 30px;
    margin-inline: auto;
    margin-top: 25px;
    font-weight: 800;
    font-size: 18px;
    color: white;
    border: red solid 5px;
    background-color: red;
}
.container-menu {
    background-color: #f9a833ff;
    display: flex;
    margin-inline: auto;
    max-width: 1800px;
    width: 100%;
    box-shadow: 2px 5px 20px 0px rgba(212, 144, 66, 0.2);
    border-left: 5px solid red;
}
.main-content {
    position: relative;
    width: 75%;
    min-height: 1000px;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    border-left: 5px solid red;
}
#itemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 32px;
    padding-inline: 32px;
    padding-bottom: 100px;
}
@media all and (max-width: 1200px) {
    .main-content {
        width: 100% !important;
    }
    #itemContainer {
        margin-top: -15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.item {
    text-wrap: wrap;
    text-align: center;
    padding: 50px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    height: 430px;
}
.item img {
    background-color: rgba(0, 0, 0, 0);
    width: 192px;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}
.item .name {
    margin-top: 16px;
    font-size: 18px;
    color: rgb(67, 44, 26);
    font-weight: 800;
    font-size: 25px;
    text-transform: capitalize;
    white-space: nowrap;
}
.item .price {
    color: rgb(67, 44, 26);
    font-size: 23px;
    font-weight: 450;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100px;
}
.item .itemButton {
    padding: 10px 16px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    position: absolute;
    right: 13%;
    left: 13%;
    bottom: 30px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 18px;
    color: white;
    border: #f9a833ff solid 5px;
    background-color: #f9a833ff;
}
.item .itemButton:hover {
    color: #f9a833ff;
    background-color: white;
}
.unavailable-items {

    img {
        filter: grayscale(100%);
    }

    .itemButton {
        cursor: default;
        border-color: grey;
        background-color: grey;

        &:hover {
            color: white;
            background-color: grey;
        }
    }
}
@media all and (min-width: 1400px) {
    #itemContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    #branch-header #change-branch:hover {
        color: red;
        background-color: white;
    }
}
@media all and (max-width: 1400px) {
    #branch-header #change-branch:active {
        color: red;
        background-color: white;
    }
    #itemContainer {
        padding-top: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    footer {
        display: none !important;
    }
    body, .container-menu {
        background-color: white !important;
    }
    .container-menu, .main-content {
        border-left: none;
    }
    .container-menu {
        display: block;
    }
    .main-content {
        width: fit-content;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-inline: auto;
    }
    .item {
        padding: 20px 5px;
        width: 300px;
        height: 340px;
    }
    .item img {
        height: 150px;
        width: 150px;
    }
    .item .name {
        font-size: 20px;
    }
    .item .price {
        font-size: 15px;
    }
    .item .itemButton {
        font-size: 15px;
        padding: 5px 5px;
        right: 13%;
        left: 13%;
    }
    #addNewButton {
        transform: scale(0.8);
        bottom: 20px;
        right: 10px;
    }
    #addNewButton:hover {
        transform: scale(1);
    }
}
@media all and (max-width: 1000px) {
    #branch-header h1 {
        font-size: 25px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }
    #branch-header h3 {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
    .main-content {
        max-width: 100px;
        width: 0px;
    }
    #itemContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 800px) {
    #itemContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}