* { color: rgb(67, 44, 26); }
main {
    background-color: #f0e9e2;
    background-image: url("../../../public/images/Icons/Orange_Background.png");
    background-repeat: repeat;
    background-size: 200px;
    align-items: center;
    justify-content: center;
    animation: backgroundScroll 40s linear infinite;
}
.container {
    max-width: 1200px;
    padding-inline: 100px;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: white;
}
.container hr {
    margin-top: 60px;
    height: 5px;
    border: none;
    opacity: 100;
    background-color: #f9a833ff;
}
.pickup-order {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: white;
    color: rgb(67, 44, 26);
    padding: 20px;
    border-radius: 8px;
}

.pickup-order h1 {
    font-weight: 800;
    font-size: 50px;
}

.pickup-order #show-all-button {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 7px 20px;
    min-width: 200px;
    color: white;
    border-radius: 50px;
    background-color: #f9a833ff;
    border: #f9a833ff solid 5px;
    margin-right: 10px;
}

#item-container {
    margin-top: 20px;
    padding-inline: 5px;
    background-color: #f9a833ff;
    border-radius: 10px;
    overflow: auto;
    max-height: 400px;
    max-width: 100%;
    outline: 10px solid #f9a833ff;
    outline-offset: -0.5px;
    scrollbar-width: thick;
    scrollbar-color: red rgba(0, 0, 0, 0);
}
#item-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#item-container::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}
#item-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}
#item-container::-webkit-scrollbar-button {
    display: none;
}

.no-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(228, 228, 228) !important;
    outline: none !important;
    box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.no-item-container img {
    opacity: 0.22;
    height: 50%;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    position: relative;
}

.order-item .order-product-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    top: 0;
    bottom: 0;
}

.order-item .details {
    flex-grow: 1;
    margin-left: 15px;
    padding-top: 15px;
}

.order-item .details h2 {
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    font-weight: 800;
}

.order-item .details span {
    margin-top: 0px;
}

.order-item .details h3 {
    font-size: 20px;
    font-weight: 500;
}

.order-item .details p {
    margin-top: -3px;
    font-size: 20px;
    font-weight: 500;
}

.order-item .edit-order-container {
    position: absolute;
    right: 0;
    display: flex;
    padding-inline: 20px;
    gap: 20px;
    justify-content: space-evenly;
}

.edit-order-container #editButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 7px 20px;
    color: white;
    border-radius: 50px;
    background-color: #f9a833ff;
    border: #f9a833ff solid 5px;
}

.edit-order-container .delete-order-item {
    margin-top: -15px;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}

#address-container {
    text-align: center;
}

#address-container h1 {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 35px;
    font-size: 50px;
}

#address-container h3 {
    font-size: 30px;
    margin-bottom: 35px;
}

#address-container #map-container {
    margin-inline: auto;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid #f9a833ff;
}

.total {
    text-align: left;
    padding-top: 35px;
}

.total #total-display {
    font-size: 30px;
    font-weight: 500;
}

.total #store-add-display {
    font-size: 30px;
    font-weight: 800;
}

.order-button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
}

#order-review {
    width: 100%;
}

#place-order {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 800;
    background-color: #aaa;
    padding: 15px 20px;
    border: #aaa solid 5px;
    border-radius: 50px;
    cursor: default;
}

.active-place-order {
    background-color: #f9a833ff !important;
    border: #f9a833ff solid 5px !important;
    cursor: pointer !important;
}

.active-place-order:hover {
    color: #f9a833ff !important;
    background-color: white !important;
}

#delete-order {
    background: none;
    background-color: none;
    border: none;
    margin-top: -10px;
}

#cancel-order {
    margin-top: 10px;
    filter: grayscale(1) brightness(300%);
    height: 45px;
    background: none;
    background-color: none;
}

.active-cancel-order {
    filter: none !important;
    cursor: pointer;
}

.active-cancel-order:active {
    scale: 0.8;
}

@media all and (min-width: 1200px) {
    .order-item #editButton:hover {
        color: #f9a833ff;
        background-color: white;
    }
    .pickup-order #show-all-button:hover {
        background-color: white;
        color: #f9a833ff;
    }
    .pickup-order #show-all-button:active {
        scale: 0.9;
    }
}

@media all and (max-width: 1200px) {
    .container {
        padding-inline: 20px;
    }
    .pickup-order #show-all-button {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 150px;
    }
    .pickup-order #show-all-button:active {
        background-color: white;
        color: #f9a833ff;
    }
    #item-container {
        outline-offset: -1.5px;
    }
    .pickup-order h1 {
        font-size: 35px;
    }
    .order-item .details h2 {
        max-width: 20ch !important;
    }
    .order-item .order-product-img {
        width: 50px;
        height: 50px;
    }
    .edit-order-container #editButton {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;
        font-size: 18px;
        padding: 2px 15px;
    }
    .edit-order-container #editButton:active {
        color: #f9a833ff;
        background-color: white;
    }
    .total span {
        font-size: 20px;
    }
    #place-order {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
    }
}

@media all and (max-width: 700px) {
    .order-item .details h2 {
        font-size: 25px !important;
        max-width: 15ch !important;
    }
    .order-item .details span {
        display: block;
    }
    .edit-order-container {
        display: block !important;
    }
    .edit-order-container .delete-order-item {
        margin-top: 10px;
        margin-left: 25px;
        height: 30px;
        width: 30px;
    }
    .edit-order-container .delete-order-item img {
        margin-left: -8px;
        transform: translateY(-35px);
        scale: 0.5;
    }
    .order-button-container #cancel-order {
        margin: -10px;
        scale: 0.7;
    }
    .total #total-display {
        font-size: 20px;
    }
    .edit-order-container #editButton {
        font-size: 15px !important;
    }
    #address-container h1 {
        font-size: 30px;
    }

    #address-container h3 {
        font-size: 15px;
        margin-bottom: 35px;
    }
}

@media all and (max-width: 500px) {
    .order-item .details h2 {
        font-size: 20px !important;
        max-width: 10ch !important;
    }
}