.sidebar-PC {
    top: 100px;
    position: sticky;
    width: 25%;
    height: fit-content;
    padding-top: 16px;
    background-color: #f9a833ff;
}
.sidebar-PC h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.menu-options {
    border-top: #f9a833ff solid 5px;
    border-bottom: #f9a833ff solid 5px;
}

.menu-options button {
    padding: 16px;
    text-align: center;
    min-width: 100%;
    height: 100px;
    background-color: white;
    color: rgb(67, 44, 26);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.menu-options button:hover {
    background-color: lightgray;
}

.menu-options .selected {
    color: white;
    background-color: red;
}

.menu-options .selected:hover {
    background-color: red;
}

.sidebar-Mobile {
    z-index: 999;
    display: none;
    position: sticky;
    top: 100px;
}

@media all and (max-width: 1400px) {
    .sidebar-PC {
        display: none;
    }
    .sidebar-Mobile {
        display: block;
    }
    .sidebar-Mobile button {
        font-size: 20px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.sidebar-Mobile button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: white;
    background-color: red;
    border: none;
    text-transform: uppercase;
}

.Sidebar-Options {
    position: sticky;
    top: 158px;
    display: none;
    z-index: 999;
    width: 100%;
    margin-top: -1px;
    background-color: rgba(0, 0, 0, 0);
}

.Sidebar-Options button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(67, 44, 26);
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: none;
    border-bottom: #f9a833ff solid 2px;
    box-shadow: 2px 5px 20px 0px rgba(31, 24, 54, 0.2);
}

.Sidebar-Options button:active {
    color: white;
    background-color: #f9a833ff;
}